* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* navbar Styles */
.navBar {
  background-color: #588157;
  overflow: hidden;
}

.navBar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.push{
    margin-right:auto;
}

.navBar a:hover {
  background-color: #dad7cd;
  color: black;
}

.navBar .icon {
  display: none;
}

/* navbar media queries to hide all links except first-child and to show the hamburger icon  */
@media screen and (max-width: 600px) {
  .navBar a:not(:first-child) {
    display: none;
  }
  .navBar a.icon {
    float: right;
    display: block;
  }
}
/* To style the drop down menu for when hamburger appears below 600px*/
@media screen and (max-width: 600px) {
  .navBar.responsive {
    position: relative;
  }
  .navBar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navBar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


/* hero */

.aboutMe {
background-color: #588157;
display: flex;
border: solid 5px blue;
flex-direction: column;
justify-content: center;
align-items: center;
}

.aboutMe h1{
font-size: 28px;
font-weight: bold;
display: block;
text-align: center;
border: solid 5px yellow;
}

.aboutMe span{
    display: block;
    border: solid 5px firebrick;
}
.aboutMe img {
width:100%;
border: solid 5px tomato;
max-width: 200px;
height: auto;
border-radius: 50%;
object-fit: fill;
margin:20px 0px;
}

.aboutMe p {
    text-align: center;
    margin: 20px;
    font-size: 18px;
    border: 5px solid purple;
}

@media screen and (min-width:1000px){
    .profile-img{
        align-self: flex-start;
        height: auto;
        width: auto;
    }
    .profile-img img {
        align-self:flex-start;
        height: 85%;
        width: 400px;
        max-width: 400px;
        margin-left: 2%;
    }

    .aboutMe h1{
        font-size: 42px;
    }

}